@use "../../styles/" as *;

.dropdown {
    position: relative;
    width: 100%;
    @include display-flex();
    height: 48px;
}

.select {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 14px;
    border: 2px solid $colors-stroke;
    border-right: 0;
    height: 45px;
    outline: none;
    font-size: 1em;
    font-weight: 500;

    &.onlySelect {
        border: 2px solid $colors-stroke;
        border-radius: 5px;
        width: 100%;
    }
}

.currencyInput {
    > div {
        height: 45px;
        background-color: $colors-bg-secondary;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}