@use '../../styles/' as *;

.header {
    @include display-flex(space-between);
    width: 100%;
    padding: 10px 20px;
    background-color: $colors-bg-primary;
}

.logo {
    text-align: left;
    background-color: $colors-bg-primary;

    @include media("phone") {
        font-size: 1.2em;
    }

    > a {
        color: $colors-text-primary;
        text-decoration: none;
    }
}

.logoutBtn {
    > img {
        @include black-filter();
    }
}