$text-primary: #000000;
$text-secondary: #707070;
$text-tertiary: #A5A5A5;

$bg-primary: #EDEDED;
$bg-secondary: #FFFFFF;

$button-bg-primary: #2B83FF;
$button-text-primary: #FFFFFF;

$stroke: #D5D5D5;

$light-shadow: #919a964c;

$text-link: #56C4FF;

$error-message: #E70000;

$toast-success-bg: #C3D4FE;
$toast-success-text: #243F80;
$toast-error-bg: #F2D6D0;
$toast-error-text: #AE1100;