@use "./" as *;

.dashboardPage {
    width: 100%;
    height: 100vh;
}

.content {
    @include display-flex(flex-start);
    flex-direction: column;
    gap: 30px;
}

section {
    max-width: 1000px;
    width: 100%;
}

.walletContainer {
    @include display-flex();
    gap: 20px;
}

.wallet {
    @include display-flex(flex-start);
    flex-direction: column;
    background-color: $colors-bg-secondary;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    border: 1px solid $colors-stroke;
    @include light-box-shadow();

    .amount {
        font-size: 2.5em;
    }

    .type {
        color: $colors-text-secondary;
        font-size: 1.2em;
        margin-top: 10px;
    }

    .addFundsBtn {
        @include button-primary();
        padding: 15px 78px;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 40px;
    }
}

.addFundsForm {
    @include display-flex();
    flex-direction: column;

    > h3 {
        font-size: 2em;
    }

    .submitBtn {
        @include button-primary();
        padding: 10px 50px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.liveExchangeRateBox {
    @include display-flex(space-between);
    width: 100%;
    background-color: $colors-bg-secondary;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid $colors-stroke;
    font-size: 1.2em;
    @include light-box-shadow();

    .rate {
        color: $colors-text-tertiary;
    }
}

.exchangeCurrencyContainer {
    @include display-flex();
    flex-direction: column;
    padding: 20px;
    background-color: $colors-bg-secondary;
    border-radius: 5px;
    border: 1px solid $colors-stroke;
    @include light-box-shadow();

    > h3 {
        width: 100%;
        text-align: left;
    }

    .exchangeCurrencyForm {
        width: 100%;
        @include display-flex(flex-start);
        gap: 20px;
        margin-top: 20px;

        .referenceInputBox {
            width: 100%;
            @include display-flex();
            background-color: #DEDEDE;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            overflow: hidden;

            .toCurrency {
                padding: 10px 14px;
                height: 45px;
                border: 2px solid $colors-stroke;
                border-right: 0;
                font-size: 1em;
            }

            .referenceInput {

                > div {
                    height: 45px;
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                }
            }
        }
    }

    .exchangeBtn {
        @include button-primary();
        padding: 15px 70px;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
    }

    > a {
        margin-top: 10px;
    }
}